body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:hover.nav-item:not(.active) {
  background-color: #2ea8b2
}

.hero {
  min-height: 80vh;
  height: 678px;
  background-position: center center;
  background-size: cover;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 60, 224, 0.9), rgba(44, 187, 187, 0.9)), url('bg3.jpg')
}

.hero .hero-text {
  color: #fff;

}

.hero .hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero .bld {
  font-weight: bold;
}

footer {
  margin-top: 13rem;
  padding: 2rem 0;
  color: #fff;
  font-size: 12px;
}

.hero-about {
  min-height: 80vh;
  height: 640px;
  background-position: center center;
  background-size: cover;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 70px;
  height: 3px;
  background: linear-gradient(to right, rgba(0, 60, 224, 0.9), rgba(44, 187, 187, 0.9));
}

.hero-about img {
  margin-top: 80px;
  max-height: 15rem;
  min-height: 80%;
}

@media screen and (max-width:900px) {
  .hero-about img {
    margin-top: -200px;
    max-height: 15rem;
    min-height: 30%;
    padding: 0;
  }
}

.hero-nb {
  background-color: linear-gradient(to right, rgba(0, 60, 224, 0.9), rgba(44, 187, 187, 0.9));
}

.list-student {
  margin-top: 80px;
  max-height: 15rem;
  min-height: 80vh;
  height: 678px;
}